<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <!-- <form>
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="fname" id="fname"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lname" id="lname"></td>
            </tr>
            <tr>
                <td>DOB</td>
                <td><input type="date" name="dob" id="dob"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" id="address"></td>
            </tr>
            <tr>
                <td>City</td>
                <td><input type="text" name="city" id="city"></td>
            </tr>
            <tr>
                <td>Country</td>
                <td><input type="text" name="country" id="country"></td>
            </tr>
            <tr>
                <td>PIN</td>
                <td><input type="text" name="pin" id="pin"></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td><input type="text" name="mobile" id="mobile"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" id="email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id="password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="submit" value="Submit"></td>
            </tr>
        </table>
    </form> -->

    <p>Hello my name is {{fname+" "+lname}}</p>
    <p>Hello my email is {{email}}</p>
    <p>Hello my address is {{address.address}} {{address.city}} {{address.state}} {{address.country}} {{address.pin}}</p>

    <p><Button (click)="sayName()">Say my details</Button></p>
    <p><Button (click)="Details()">Say my details agian</Button></p>

    <p><Button (click)="toggleHobbies()">{{showHobbies ? "Hide Hobbies" : "show hobbies"}}</Button></p>

    <div *ngIf="showHobbies">

        <h3>My Hobbies are </h3>{{hobbies}}
        <h3>My Daily Foods are </h3>
        <ul>
            <li *ngFor="let food of foods ; let i = index">
                {{food}} <button (click)="deleteFood(i)">Delete</button>
            </li>
        </ul>
    </div>

</body>

</html>